<!--form handling-->
<form action="/api/users" method="post">
    <div class="new-user">
     <div class="form-group">
         <label for="name">Nom</label>
         <input type="text" name="name" value="" placeholder="Nom">
     </div>
     <div class="form-group">
         <label for="name">Email</label>
         <input type="text" name="email" value="" placeholder="example@example.com">
     </div>
     <div class="form-group">
         <label for="name">Adresse</label>
         <input type="text" name="adresse" value="" placeholder="Adresse...">
     </div>
     <div class="form-group">
         <label for="name">Numero</label>
         <input type="tel" name="numero" value="" placeholder="+261XXXXXXXXX">
     </div>
     <div class="form-group">
         <button>Save</button>
     </div>
    </div>
 </form>
 <!--form handling-->